{% extends 'base_2.html' %}
{% load staticfiles %}
{% block title %}
新闻详情
{% endblock %}

{% block content %}
    <link href="{% static 'css/news.css' %}" rel="stylesheet">
    <!--主题内容-->
    <div class="model-details">
        <div class="model-details-product-title">
            {{ mynew.title }}
            <div class="model-foot">发布时间：{{ mynew.pulishDate|date:"Y-m-d" }}&nbsp;&npsp;浏览次数:{{ mynew.views }} </div>
        </div>
    <div class="model-details">
        {{ mynew.description|safe }}
    </div>
    </div>
{% endblock %}